.wrapper {
	max-width: 1360px;
	margin: 48px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	animation: pageA 0.5s 1 linear;
	text-align: center;
	padding: 0 20px;
}

@keyframes pageA {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
